* {
  margin: 0;
  font-family: system-ui;
  box-sizing: border-box;
}
html {
  font-size: 14px;
}
body {
  background-color: rgb(238, 242, 246);
}

.container {
  display: flex;
  flex-direction: column;
  width: 80%;

  margin: 0 auto;
}
header {
  margin: 1rem;
  display: grid;
  grid-template-columns: 1fr 50px;
}

header h2 {
  text-align: center;
}
header .shopping {
  position: relative;
  cursor: pointer;

  text-align: right;
}
header .shopping img {
  width: 30px;
}
header .shopping span {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  top: -5px;
  left: 80%;
  background: red;
  color: white;
  border-radius: 50%;
  padding: 1px 6px;
}

.list {
  margin-top: 2rem;
  align-self: center;
  height: 200px;
  display: grid;
  grid-template-columns: repeat(3, 240px);
  column-gap: 1.5rem;
  row-gap: 1.5rem;
}
.list .dishes {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
  box-shadow: 0 50px 50px #757676;
}
.list .dishes img {
  width: 80%;
}
.list .dishes .diches_name,
.price {
  font-weight: 700;
}
.list button {
  width: 100%;
  height: 2rem;
  color: white;
  background-color: black;
  cursor: pointer;
  border: none;
  font-weight: 700;
}
.card {
  background-color: gray;
  position: fixed;
  left: 100%;
  top: 0;
  width: 500px;
  height: 100vh;
  transition: all 0.5s ease;
}
.card h1 {
  color: rgb(244, 240, 12);
  text-align: center;
  margin-top: 1rem;
}

.card .checkOut {
  position: absolute;
  bottom: 0;
  width: 100%;
  text-align: center;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  background-color: rgb(244, 240, 12);
  font-weight: bold;
  height: 70px;
  cursor: pointer;
}
.card .checkOut div {
  display: flex;
  justify-content: center;
  align-items: center;
}
.card .checkOut div:first-child {
  background-color: black;
  color: white;
  font-size: 1.2rem;
}
.active .card {
  left: calc(100% - 500px);
}
.active .container {
  transform: translateX(-100px);
}
.listCard li {
  display: grid;
  margin-right: 10px;

  grid-template-rows: 120px repeat(3, 1fr);
}

.listCard div {
  gap: 1rem;
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.listCard div img {
  width: 100%;
  text-align: start;
}
